---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/example.com?fields=1079295
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ttl:
      - '36'
      x-rl:
      - '43'
    body:
      encoding: UTF-8
      string: '{"status":"success","continent":"Europe","country":"United Kingdom","countryCode":"GB","region":"ENG","regionName":"England","city":"London","zip":"W1B","lat":51.5072,"lon":-0.127586,"timezone":"Europe/London","isp":"Edgecast
        Inc.","org":"","reverse":"","query":"93.184.215.14"}'
  recorded_at: Thu, 10 Oct 2024 10:21:42 GMT
recorded_with: VCR 6.3.1
